.header-main-fluid {
    display: flex;
    align-items: center;
    height: calc(100vh - 5rem);
    background-color: green;

    @include md {
        height: calc(100vh - 6rem);
    }

    .header-main {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include lg {
            flex-direction: row;
            justify-content: flex-start;
        }

        >img {
            width: 28rem;
        }

        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 3rem;

            @include lg {
                align-items: flex-start;
                margin-left: 3rem;
            }

            >h2 {
                font-family: 'Raleway', sans-serif;
                font-size: 3.6rem;
                color: #fff;
                font-weight: 300;
                text-align: center;
                letter-spacing: 2px;
                line-height: 4.2rem;

                @include sm {
                    width: 80%;
                }

                @include lg {
                    width: 100%;
                    text-align: left;
                }
            }

            >p {
                font-family: sans-serif;
                font-size: 1.8rem;
                color: #fff;
                margin-top: 2.6rem;
                letter-spacing: .1rem;
                line-height: 2.4rem;
            }

            >a {
                font-family: 'Raleway', sans-serif;
                margin-top: 3rem;
                background-color: #fff;
                padding: 1.5rem 3.6rem;
                text-decoration: none;
                color: green;
            }
        }
    }
}